@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=League+Gothic&family=Playfair+Display&display=swap');

.menu-item{
    font-family: 'League Gothic', sans-serif;
    font-size: 2em;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

.custom-header{
    background: -webkit-linear-gradient(yellow, red);
    font-family: 'Playfair Display', serif;
    margin-left:10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rec.rec-arrow{
    background-image: linear-gradient(yellow, red);

}

.rec.rec-arrow:hover{
    border-radius: 0%;
}



/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
}