@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

#contactUs{
    font-family: 'Lato', sans-serif;
}

.custom-text-color{
    background: -webkit-linear-gradient(#FFFF00, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}