.custom-navbar{
    font-size: 2em;
    font-family: 'Rancho', serif;
}

.custom-org-name{
    font-size:1.7em;
    background: -webkit-linear-gradient(#FFFF00, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* @media screen and (max-width: 850px) {
    .custom-org-name{
        font-size: 2rem;
    }
}

@media screen and (max-width: 485px) {
    .carousel-item img{
        height: 500px;
    }
} */

@media screen and (max-width: 360px){
    .custom-org-name{
        font-size: 1.5rem;
    }
    .nav-link{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 215px){
    .custom-org-name{
        font-size: 1rem;
    }
    .nav-link{
        font-size: 1rem;
    }
}

@media screen and (max-width: 180px){
    .custom-org-name{
        font-size: 0.65rem;
    }
    .nav-link{
        font-size: 0.65rem;
    }
}